[defaults]
collections_path = ../../.local/prompt04/ansible/collections
host_key_checking = True
interpreter_python = auto_silent
inventory = inventories/netcup/hosts.yml
local_tmp = ../../.local/prompt04/ansible/tmp
remote_tmp = /tmp/esmii-ansible-tmp
retry_files_enabled = False
roles_path = roles
stdout_callback = default

[ssh_connection]
pipelining = True
